.flex_container {
    width: min(100%, 1440px);
    margin: auto;
}

header {
    padding: 52px 98px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search_box {
    width: 222px;
    height: 56px;
    border-radius: 10px;
    border: 3px solid #758BFD;
    padding: 12px;
}

.link_li {
    color: #758BFD;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.active {
    color: #27187F;
}

ul {
    display: flex;
    column-gap: 50px;
    
}

.fa-magnifying-glass {
    font-size: 32px;
    color: #758BFD;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

section {
    background: #DDEAF8;
    margin: auto;
}

h1 {
    color: #27187F;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 70px;
}

.div_section1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 68px;
}

.div_section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 68px;
}

.description {
    margin: 33px 30px;
}

footer {
    background: #758BFD;
    height: 239px;
    padding: 75px 104px;
    width: 1440px;
    margin: auto;
}

.footer_text {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.2px;
}

.icons {
    display: flex;
    margin-top: 20px;
    gap: 20px;

}

.cards {
    border-radius: 28px;
    display: flex;
    justify-content: flex-end;
}


